// Page section padding
.page-section {
  padding: 5rem 0;
}

// Skill Icons
.devicon-list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.devicon-list > div {
  margin: 2rem;
  text-align: center;
}
@media (max-width: 1200px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem .5rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem 1rem;
    text-align: center;
  }
}
